/Lossless Compression/LZ78/nbproject/private/
/Lossless Compression/LZ78/build/
/Lossless Compression/LZW/nbproject/private/
/Lossless Compression/LZW/build/
/Lossless Compression/Huffman/nbproject/private/
/Lossless Compression/Huffman/build/